@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}
body{
  min-height: 100vh;
  background-color: #fcfcfc;
}

a{
  text-decoration: none;
  color: inherit;
}
hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

.app-content{
  display: flex;
}

.flex-col{ /*add.jsx form*/
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cursor{ /* list.jsx cross btn*/
  cursor: pointer;
  transition: all 0.3s;
}
.cursor:hover{
  transform: scale(1.1);
}